name: Docker

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Deploy Docker Image
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Build and push
        uses: openzim/docker-publish-action@v10
        with:
          restrict-to: kiwix/borg-backup
          image-name: kiwix/borg-backup
          on-master: latest
          registries: ghcr.io
          credentials:
            GHCRIO_USERNAME=${{ secrets.GHCR_USERNAME }}
            GHCRIO_TOKEN=${{ secrets.GHCR_TOKEN }}
          repo_description: auto
          repo_overview: auto
